/* Starter file for folder structure */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    list-style-type: none;
    text-decoration: none;
}


/* Styling the grid wrapper */

#grid-wrapper {
    display: grid;
    grid-template-columns: 20vw auto;
}

main {
    grid-column-start: 2;
    margin: 40px 30px;
}


/* Styling the sidebar */

aside {
    position: fixed;
    width: 20vw;
    height: 100%;
    background-color: #e8e8e8;
}

#sidebar-contents {
    display: flex;
    flex-direction: column;
}

#sidebar-contents li {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

#sidebar-contents img {
    margin: 0 15px;
}


/* Styling the main nav bar */

header {
    background-color: black;
    color: white;
}

header img {
    height: 50px;
    margin: 10px 20px;
}

header ul {
    display: flex;
    align-items: center;
}


/* Styling for the form fields */

input,
textarea,
select,
label {
    display: block;
    margin: 10px 0;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

.input-field,
select {
    width: 50%;
    padding: 12px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    background-color: #f2f0f0;
    border-radius: 5px;
}


/* Styling the buttons */

input[type='submit'] {
    background-color: #1973e1;
    width: 12%;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.btn {
    margin: 20px 0;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
}

#new-issue {
    width: 20%;
    background-color: #139e4d;
}


/* Styling the issues */

#issues-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}


/* Styling the header for the issue tracker */

#issues ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

.filter-option {
    margin: 0 30px;
    text-transform: uppercase;
}

.filter-option:hover {
    cursor: pointer;
}


/* Styling the table for the issues*/

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 95%;
}

th,
td {
    padding: 10px 0;
}

td {
    border-bottom: 1px solid #ddd;
}

#table-header {
    padding: 10px 0;
    background-color: #f2f2f2;
    text-align: left;
    border-radius: 10%;
}

.issue {
    color: #1288b3
}


/* Styling the issue types */

#issue-status {
    text-align: center;
}

.open,
.closed,
.in-progress {
    margin: 0 auto;
    color: #ffff;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
}

.open {
    background-color: #139e4d;
    width: 30%;
}

.closed {
    background-color: #dc6f26;
    width: 45%;
}

.in-progress {
    background-color: #ffdb0c;
    color: black;
    width: 70%;
}